
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <ol>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs Section -->


<div class="row justify-content-around mt-5">
<!--    <form>-->
<!--        <div class='col-auto'>-->
<!--            <div class="row">-->
<!--                <h2>Heroes</h2>-->
<!--            </div>-->
<!--            <div class='row'>-->
<!--                <a th:href="@{/admin/update_heroes}" class="btn btn-primary">Update from Api</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

<!--    <div class='col-auto'>-->
<!--        <div class="row">-->
<!--            <h2>Items</h2>-->
<!--        </div>-->
<!--        <div class='row'>-->
<!--            <a th:href="@{/admin/update_items}" class="btn btn-primary">Update from Api</a>-->
<!--        </div>-->
<!--    </div>-->

    <div class='col-auto'>
        <div class="row">
            <h2>Услуги</h2>
        </div>
        <div class='row'>
            <form th:action="@{/admin/add_service}" method="post">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Добавяне, редактиране и изтриване на услуги</th>
<!--                        <th scope="col">Цена</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="col">
                            <input class = "form-control mr-sm-2" name="name" placeholder="Заглавие">
                        </th>
                        <th scope="col">
                            <input class = "form-control mr-sm-2" name="description" placeholder="Описание">
                        </th>
                        <th scope="col">
                            <input class = "form-control mr-sm-2" type="number" name="price" placeholder="Цена">
                        </th>
                        <th scope="col">
                            <input class = "form-control mr-sm-2" type="number" name="itemNum" placeholder="Приоритет">
                        </th>
                        <th scope="col">
                            <button type="submit" class="btn btn-primary">Добави</button>
                        </th>
                    </tr>
                    <tr th:each="service:${services}">
                        <th scope="col">
                            <input class = "form-control mr-sm-2" name="name1"  th:value="${service.name}" placeholder="Заглавие">
                        </th>
                        <th scope="col">
                            <input class = "form-control mr-sm-2" name="description1" th:value="${service.description}" placeholder="Описание">
                        </th>
                        <th scope="col">
                            <input class = "form-control mr-sm-2" type="number" name="price1" th:value="${service.price}" placeholder="Цена">
                        </th>
                        <th scope="col">
                            <input class = "form-control mr-sm-2" type="number" name="itemNum1" th:value="${service.itemNum}" placeholder="Приоритет">
                        </th>
<!--                        <th>-->
<!--                            <a th:href="@{/admin/service_update/{id}(id=${service.id})}" class="btn btn-primary">Ъпдейт</a>-->
<!--                        </th>-->
                        <th>
                            <a th:href="@{/admin/service_delete/{id}(id=${service.id})}" class="btn btn-danger">Изтрий</a>
                        </th>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Редактиране и изтриване на климатик</th>
                        <!--                        <th scope="col">Цена</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="col">
                            <div class="col cta-btn-container text-center">
                                <a class="services-btn align-middle" style="padding: 20px" th:href="@{/admin/addconditioner}" >Добавяне на нов климатик</a>
                            </div>
                        </th>
                    </tr>
                    <tr th:each="conditioner:${conditioners}">
                        <th scope="col">
                            <label class = "form-control mr-sm-2" name="service_name"  th:text="${conditioner.name}" >
                        </th>
                        <th>
                            <a th:href="@{/admin/conditioner_update/{id}(id=${conditioner.id})}" class="btn btn-primary">Ъпдейт</a>
                        </th>
                        <th>
                            <a th:href="@{/admin/conditioner_delete/{id}(id=${conditioner.id})}" class="btn btn-danger">Изтрий</a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>