<!-- ======= Header ======= -->
    <div class="container d-flex justify-content-between align-items-center">

        <div id="logo">
            <a th:href="@{/}"><img src="assets/img/TasevLogo.png" alt=""></a>
<!--             Uncomment below if you prefer to use a text logo -->
<!--            <h1><a th:href="@{/}" href="index.html">Климатици тасев</a></h1>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/#home">Начало</a></li>
                <li><a class="nav-link scrollto" href="#about">За нас</a></li>
                <li><a class="nav-link scrollto" href="#services">Услуги</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Каталог</a></li>
                <li><a class="nav-link scrollto" href="#contact">Контакти</a></li>
<!--                <li sec:authorize="isAuthenticated"><a class="nav-link scrollto " th:href="@{/user/profile/{id}(id=${userId})}">Моят Профил</a></li>-->
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link scrollto " th:href="@{/admin/articles}">Админ</a></li>
                <li sec:authorize="isAuthenticated"><a class="nav-link scrollto " th:href="@{/logout}">Отписване</a></li>
                <li sec:authorize="isAnonymous()"><a class="nav-link scrollto" th:href="@{/user/register}">Регистрация</a></li>
                <li sec:authorize="isAnonymous()"><a class="nav-link scrollto" th:href="@{/user/login}">Вход</a></li>
<!--                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                    <ul>-->
<!--                        <li><a href="#">Drop Down 1</a></li>-->
<!--                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                            <ul>-->
<!--                                <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                                <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                                <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                                <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                                <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li><a href="#">Drop Down 2</a></li>-->
<!--                        <li><a href="#">Drop Down 3</a></li>-->
<!--                        <li><a href="#">Drop Down 4</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>